extends index

block append pageVariables
    - var pageTitle = "Games"

block maincontent
    each item in contentData.games.records
        .cover
            if item.fields.name
                .cover-image
                    +image(item)
                .cover-info
                    h2.cover-heading
                        | #{item.fields.name} 
                    p.meta
                        | #{item.fields.platforms} • #{moment(item.fields.releaseDate).format("MMMM Do")}
                    div!= marked(item.fields.review)
                    .c-tag-list
                        each subitem in item.fields.categories
                            .c-tag #{subitem}

    .categories-nav
        a.c-btn(href="/youtube.html") Next: YouTube channels
    