extends _layouts/master

mixin image(item)
    if item.fields.image
        .card-image
            img(src=item.fields.image[Object.keys(item.fields.image)[0]].url)
    else
        .card-image
            img(src="http://placehold.it/400x300")

mixin cardbody
    .card-body
        h3.card-heading Title
        p Subtitle

block append pageVariables
    - var pageTitle = "Music albums"

block body

    h1.main-title
        a(href="/") Best of 2017

    nav.main-nav
        a(href="index.html" class=pageTitle.match(/Music albums/) ? "selected" : "") Music Albums
        a(href="movies.html" class=pathname.match(/movies/) ? "selected" : "") Movies
        a(href="series.html" class=pathname.match(/series/) ? "selected" : "") Series
        a(href="games.html" class=pathname.match(/games/) ? "selected" : "") Video Games

    block maincontent
        .cards
            each item in contentData.albums.records
                if item.fields.name
                    .card.js-tilt
                        +image(item)
                        .card-body
                            h3.card-heading #{item.fields.name} - #{item.fields.albumName}
                            p=moment(item.fields.releaseDate).format("MMMM Do")
    footer
        ul
             li Created by wolfr_2 as a side project
             li Images copyright to their respective creators
             li Series data copyright IMDB
             li: a(href="https://twitter.com/wolfr_2") Follow me on Twitter
             li: a(href="http://johanronsse.be") Check out my personal site