extends _layouts/master

mixin image(item)
    if item.fields.optimizedImage
        -var imgsrc = item.fields.optimizedImage[Object.keys(item.fields.optimizedImage)[0]].url
    else if item.fields.image
        -var imgsrc = item.fields.image[Object.keys(item.fields.image)[0]].url
    img(src=imgsrc)

mixin cardbody
    .card-body
        h3.card-heading Title
        p Subtitle

block append pageVariables
    - var pageTitle = "Music albums"

block body

    h1.main-title
        a(href="/") Best of 2017

    nav.main-nav
        a(href="index.html" class=pageTitle.match(/Music albums/) ? "selected" : "") Music Albums
        a(href="movies.html" class=pathname.match(/movies/) ? "selected" : "") Movies
        a(href="series.html" class=pathname.match(/series/) ? "selected" : "") Series
        a(href="games.html" class=pathname.match(/games/) ? "selected" : "") Video Games

    block maincontent
        .cards
            each item in contentData.albums.records
                if item.fields.name
                    .card
                        .card-image
                            +image(item)
                        .card-body
                            h3.card-heading #{item.fields.name} - #{item.fields.albumName}
                            p=moment(item.fields.releaseDate).format("MMMM Do")
    footer
        ul
             li Created by <a href="https://twitter.com/wolfr_2">wolfr</a>
             li Images copyright to their respective creators
             li: a(href="http://johanronsse.be/blog/") Check out the making of