extends _layouts/master

mixin image(item)
    if item.fields.optimizedImage
        -var imgsrc = item.fields.optimizedImage[Object.keys(item.fields.optimizedImage)[0]].url
    else if item.fields.image
        -var imgsrc = item.fields.image[Object.keys(item.fields.image)[0]].url
    img(src=imgsrc)

mixin cardbody
    .card-body
        h3.card-heading Title
        p Subtitle

block append pageVariables
    - var pageTitle = "Intro"

block body

    header.main-header
        h1.main-title
            a(href="/")
                | wolfr's Best of 2017

        nav.main-nav
            a(href="index.html" class=pageTitle.match(/Intro/) ? "selected" : "") Intro
            a(href="movies.html" class=pathname.match(/albums/) ? "selected" : "") Albums
            a(href="movies.html" class=pathname.match(/movies/) ? "selected" : "") Movies
            a(href="series.html" class=pathname.match(/series/) ? "selected" : "") Series
            a(href="games.html" class=pathname.match(/games/) ? "selected" : "") Video Games
            a(href="youtube.html" class=pathname.match(/youtube/) ? "selected" : "") YouTube channels

    main
        block maincontent
            .intro-wrapper
                div
                    p.intro Over the holidays, I've compiled these lists of my favorites of 2017. It was a technical exercise to try out things I didn't get to during the year, while also revisiting some of my favorite content and/or releases. Enjoy.
                    a.c-btn.c-btn--large(href="/albums.html") Start here &rarr;
    footer.main-footer
        ul
             li ©2018 <a href="https://twitter.com/wolfr_2">Johan Ronsse</a>
             li: a(href="/disclaimer.html") Disclaimer
             li: a(href="http://johanronsse.be/blog/") Check out the making of