extends _layouts/master

mixin image(item)
    if item.fields.image
        .card-image
            img(src=item.fields.image[Object.keys(item.fields.image)[0]].url)
    else
        .card-image
            img(src="http://placehold.it/400x300")

mixin cardbody
    .card-body
        h3.card-heading Title
        p Subtitle

block append pageVariables
    - var mainPageIsActive = true
    //- require('moment')

block body

    h1.h1
        a(href="/") Best of 2017

    nav
        a(href="index.html" class=mainPageIsActive ? "selected" : "") Music Albums
        a(href="movies.html" class=pathname.match(/movies/) ? "selected" : "") Movies
        a(href="series.html" class=pathname.match(/series/) ? "selected" : "") Series
        a(href="games.html" class=pathname.match(/games/) ? "selected" : "") Video Games

    block maincontent
        .cards
            each item in contentData.albums.records
                if item.fields.name
                    .card
                        +image(item)
                        .card-body
                            h3.card-heading #{item.fields.name} - #{item.fields.albumName}
                            p Released: #{item.fields.releaseDate}
                            //p Released: #{item.fields.releaseDate.moment().format("MMM Do YY")}
    