extends index

block append pageVariables
    - var pageTitle = "Movies"

block maincontent
    each item in contentData.movies.records
        .cover
            if item.fields.name
                .cover-image
                    +image(item)
                .cover-info
                    h2.cover-heading
                        | #{item.fields.name} 
                    ul.c-horizontal-list
                        li #{moment(item.fields.releaseDate).format("MMMM Do")} 
                        li Letterboxd score: #{item.fields.letterboxdScore}
                    .cover-review
                        div!= marked(item.fields.review)
                    a.c-btn(href=item.fields.letterboxdLink) View on Letterboxd
                    a.c-btn(href=item.fields.trailerLink) View trailer on YouTube
    
    .categories-nav
        a.c-btn(href="/series.html") Next: series
    