extends index

block append pageVariables
    - var pageTitle = "Series"

block maincontent
    each item in contentData.series.records
        .cover
            if item.fields.name
                .cover-image
                    +image(item)
                .cover-info
                    h2.cover-heading
                        | #{item.fields.name} 
                    ul.c-horizontal-list
                        li Released #{moment(item.fields.releaseDate).format("MMMM Do")} 
                        if item.fields.season
                            li Season #{item.fields.season}
                        if item.fields.platform
                            li #{item.fields.platform}
                    .cover-review
                        | #{item.fields.review}
                    a.c-btn(href=item.fields.trailerLink) View trailer on YouTube
    .categories-nav
        a.c-btn(href="/games.html") Next: Games
    