extends index

block append pageVariables
    - var pageTitle = "Series"

block maincontent
    .cards
        each item in contentData.series.records
            if item.fields.name
                .card.card-2.js-tilt
                    +image(item)
                    .card-body
                        h3.card-heading
                            | #{item.fields.name} 
                            if item.fields.season
                                | - Season #{item.fields.season}
                        p
                            | #{moment(item.fields.releaseDate).format("MMMM Do")}
                            if item.fields.platform
                                | - #{item.fields.platform}
                        div
                            | #{item.fields.description}

