extends index

block append pageVariables
    - var pageTitle = "Series"
    - var bodyClass = ""

block maincontent
    .shift-content
        h2.main-content-title Series
        p.intro.intro--sm Netflix killed it this year, becoming a synonym for watching TV series. 6 out of 7 entries listed here are on Netflix. I tried diversifying with <em>Amazon Prime</em> but honestly, it just wasn't good enough. 

    each item in contentData.series.records
        .cover
            if item.fields.name
                .cover-image-holder
                    .cover-image
                        +image(item)
                .cover-info
                    h2.cover-heading
                        | #{item.fields.name} 
                    ul.c-horizontal-list
                        li Released #{moment(item.fields.releaseDate).format("MMMM Do")} 
                        if item.fields.season
                            li Season #{item.fields.season}
                        if item.fields.platform
                            li #{item.fields.platform}
                    .cover-review
                        | #{item.fields.review}
                    a.c-btn(href=item.fields.trailerLink) View trailer on YouTube
    .categories-nav
        a.c-btn.c-btn--md(href="/movies.html") &larr; Previous: Movies
        a.c-btn.c-btn--md(href="/games.html") Next: Games &rarr;
