extends index

block append pageVariables
    - var pageTitle = "Series"

block maincontent
    each item in contentData.series.records
        .cover
            if item.fields.name
                .cover-image
                    +image(item)
                .cover-info
                    h3.cover-heading
                        | #{item.fields.name} 
                        if item.fields.season
                            | - Season #{item.fields.season}
                    p.meta
                        | #{moment(item.fields.releaseDate).format("MMMM Do")} 
                        if item.fields.platform
                            | - #{item.fields.platform}
                    div
                        | #{item.fields.review}
