extends index

block append pageVariables
    - var pageTitle = "YouTube channels"

block maincontent
    each item in contentData.youtube.records
        .cover
            if item.fields.name
                .cover-image
                    +image(item)
                .cover-info
                    h2.cover-heading
                        | #{item.fields.name} 
                    ul.c-horizontal-list
                        li Subscribers: #{item.fields.subscriberCount}
                        li Categories: #{item.fields.categories}
                    .cover-review
                        div!= marked(item.fields.review)
                    a.c-btn(href=item.fields.channelLink) View channel

    .categories-nav
        a.c-btn(href="/index.html") Back to front page
    